.potato {
  color: white;
  outline: brown;
}

@media (width > 600px) {
  .potato {
    float: left;
  }

  .potato:first{
    float: center;
  }
  
  .spud {
    @extend .potato;
    font-weight: bold;
    color: red;
  }
  .spud:first-child {
    background: purple;
  }
  .sputnik {
    @extend .spud;
    font-weight: normal;
    font-style: italic;
  }
}

.potato:first-child,
.potato:last-child {
  background: brown;
}

.potato::after li {
  background: pink;
}

#superfun::after li {
  background: gray;
}

#superfun {
  @extend .potato;
}

#dbag {
  @extend .spud;
  color: white;
}

.bar,
#baz,
div {
  @extend #superfun::after li;
}

.bravo {
  @extend %echo;
  color: blue;
  background: purple;
}
.charlie {
  @extend .bravo;
  color: red;
  background: orange;
}
.delta {
  @extend .charlie;
  color: green;
  background: gray;
}
%echo {
  @extend devman;
  color: green;
  background: lightgreen;
}
@define-placeholder devman {
  color: yellow;
}
