.potato {
  color: white;
}

.potato:first-child {
  background: brown;
}

.potato::after li {
  background: pink;
}

#superfun {
  @extend .potato;
}

[href='#'],
li:first-child {
  color: black;
}

.bar,
#baz,
div {
  @extend li:first-child;
  color: orange;
}

