@define-placeholder soylent,
@define-placeholder kelty,
%whisper {
  background: wink;
}

.foo, .foobar {
  background: pink;
  @extend soylent;
}

.bar,
#baz,
div {
  @extend %whisper;
  color: orange;
}

[href='#'],
li:first-child {
  @extend kelty;
  color: black;
}

#dbag {
  @extend .bar;
  @extend #baz;
  color: brown;
}