@media (width > 600px) {
  .potato {
    float: left;
  }

  .potato:first, .potato ul:first-child {
    float: center;
  }
  
  .spud {
    @extend .potato;
    font-weight: bold;
    color: red;
  }

  .spud:first {
    background: purple;
  }
}