.potato {
  float: left;
}

.potato:first, .potato ul:first-child {
  float: center;
}

@media (width > 600px) {
  .spud {
    font-weight: bold;
    color: red;
  	float: left;
  }
  .spud ul:first-child {
  	float: center;
  }

  .spud:first {
    background: purple;
  	float: center;
  }
}