@media (width < 600px) {
  .spud {
    background: black;
    outline: dashed;
  }
}

@media (width > 600px) {
  .potato {
    float: left;
    font-family: sans-serif;
  }

  .potato:first {
    float: center;
  }
}