@define-placeholder foobag {
  @extend .alpha;
  float: right;
}

%bar {
  @extend .alpha;
  background: pink;
}

.bravo {
  @extend .charlie;
  color: orange;
}

.alpha {
  @extend .rabbittrail;
  @extend .bravo;
  color: yellow;
}

.charlie {
  @extend .alpha;
  color: red;
}

.foobaghopper {
  @extend foobag;
  float: left;
}

.barhopper {
  @extend %bar;
}
