.bravo {
  @extend .charlie;
  color: orange;
}

.alpha {
  @extend .bravo;
  color: yellow;
}

.charlie {
  @extend .alpha;
  color: red;
}

.night {
  @extend #blackout;
  background: red;
}

#blackout {
  @extend .night;
  color: black;
}